.image{
    width: 100%;
    color: aliceblue;
    border-right: 5px solid aliceblue;
    border-bottom: 5px solid aliceblue;
    border-radius: 20%;
    padding-bottom: 8px;
    font-family: 'Orbitron', sans-serif;
}


  